$hero-back-color: white;
$tedx-red: #E62B1E;
$color-text: black;
$color-hero: white;
$path-fill-1: #DEF4FF;
$path-fill-2: #70BDE6;
$path-fill-3: #25455D; 
$path-fill-4: black;
$button-bg: #fff;
$button-circle: #fff;
$accent-blue: #78C2FE;

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, 3%, 0);
  }

  to {
    opacity: auto;
    transform: none;
  }
}

.accent {
  width: 100vw;
  position: absolute;
  z-index: -1;
  opacity: 0.1;
  overflow: hidden;
  min-width: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding:0;
  ul {
    font-weight: 600;
    display: flex;
    padding-right: 10px;
    list-style: none;
    font-size: 13px;
    padding-top: 10px;
    background-color: black;
    height:5em;
    text-align: center;
    .nav-spacer {
      flex: 5;
    }
    .nav-items {
      flex-direction: row;
      width: 60%;
      display: flex;
      align-items: center;
    }
    li {
      flex: 1 1 auto;
      margin-bottom: 12px;
      a {
        transition: color 0.2s;
        padding-bottom: 1px;
        color: white;
        text-decoration: none;
      }
      a:hover {
        cursor: pointer;
      }
      .is-active {
        color: $tedx-red;
        border-bottom: 2px solid $tedx-red;
      }
    }
    img {
      height: 3em;
      margin-top: 3px;
      flex: 1;
    }
  }
}

#apply {
  background-color: $tedx-red;
  padding: 10px 20px;
  color: white;
}

#apply:hover {
  box-shadow: 0 0 5px #25455D;
}

main {
  z-index: -1;
  section {
    display: none;
  }
}

body {
  overflow-x: hidden;
  font-family: 'Helvetica', Avenir, Arial, sans-serif;
  min-height: 100vh;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

h1 {
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Avenir Next', Avenir, Arial, sans-serif;
}

h2 {
  font-family: 'Avenir Next', Avenir, Arial, sans-serif;
  letter-spacing: 0.5px;
  font-weight: bold;
}

h4 {
  opacity: 0.3;
}

p {
  font-size: 1em;
}

a {
  transition: 0.2s;
  text-decoration: none;
  color: $tedx-red;
}
a:hover {
  cursor: pointer;
  color: $accent-blue;
}

#hero {
  background-color: black;
  #back {
    animation-name: fadeIn;
    animation-duration: 1s;
    width: 100vw;
    height: 120vh;
    position: absolute;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    filter: blur(2px);
    overflow: hidden;
    opacity: 0.25;
    z-index: -1;
  }
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top:0;
  text-align: center;
  flex-direction: column;
  top: 0;
  left: 0;
  color: $color-hero;
  z-index: 1;
  h3 {
    opacity: 0.7;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Avenir Next', Avenir, Arial, sans-serif;
    margin-top: 20px;
    animation-name: fadeIn;
    transition-timing-function: ease-out;
    animation-duration: 2s;
  }
  img:not(#back) {
    animation-name: fadeIn;
    animation-duration: 2s;
    transition-timing-function: ease-out;
    height: 80px;
  }
}

footer {
  display: none;
  padding-left:10vw;
  padding-right:10vw;
  padding-top:10vh;
  color: white;
  background-color: black;
  a {
    color:white;
  }
  li {
    list-style: none;
  }
  .pages li {
    font-weight: bold;
  }
  .social {
    li {
      margin-right: 20px;
      display: inline;
    }
    img {
      transition: 0.2s;
      height: 25px;
    }
    img:hover {
      opacity: 0.8;
    }
  }
  .years li {
    display:inline;
  }
}

#partners, #faq {
  .header {
    padding-bottom: 10vh;
  }
}

#about, #speakers, #home {
  .header-image {
    box-shadow: 0 0 50px #b0bec5;
  }
}

#team, #speakers {
  h2 {
    padding-top: 50px;
    padding-bottom: 10px;
  }
  .name {
    font-size: 14px;
    font-weight: bold;
  }
}

#team {
  img:not(.header-image) {
    position: relative;
    width: 180px;
  }
}

#partners {
  p {
    font-size: 20px;
  }
  img:not(.header-title) {
    opacity: 0.8;
    transition: .2s;
    margin: 50px;
  }
  img:not(.header-title):hover {
    opacity: 1;
    cursor: pointer;
  }
  hr {
    margin: 60px 0;
  }
}

#speakers {
  .title, .name {
    font-size: 18px;
  }
  iframe {
    position: relative;
    width: 100%;
    height: 250px;
    box-shadow: 0 0 30px #b0bec5;
  }
  .speakers {
    img {
      position: relative;
      width:250px;
    }
  }
  .row {
    margin-bottom:70px;
  }
}

section {
  position: relative;
  overflow: hidden;
  padding-top: 25vh;
  padding-bottom: 15vh;
  h2 {
    font-size: 1.8em;
  }
  .header-title {
    height: 50px;
  }
  .header-image {
    position: relative;
    width:100%;
  }
  .header-banner {
    background-color: #eee;
    color:black;
    width: auto;
    padding: 20px 30px;
  }
  .image {
    position: relative;
    width:100%;
    box-shadow: 0 0 50px #b0bec5;
  }
}

#mce-EMAIL {
    color:black;
    padding-top: 2px;
}
#mc-embedded-subscribe-form input {
    border-radius: 0;
}
#mc-embedded-subscribe {
    color:white;
    background-color: $tedx-red;
    border:none;
}

.slicknav_menu {
  display:none;
  background-color: black;
  margin-top: -50px;
  padding: 10px 0;
  text-align: center;
  li {
    margin: 30px 0 !important;
    a {
      color:white;
      font-weight: bold;
    }
    .is-active {
      color: $tedx-red;
      border-bottom: 2px solid $tedx-red;
    }
  }

}

#nav-icon {
  display: none;
  margin-right: 20px;
}

@media screen and (max-width: 700px) {
  .js #menu {
    display:none;
  }
  #nav-icon {
    display: block;
  }
  
  .js .slicknav_menu {
    display:block;
  }

  #hero {
    img {
      max-width: 80vw;
    }
    h3 {
      font-size: 18px;
    }
  }
  section {
    padding-top: 110px;
  }
  #partners {
    img {
      max-width: 80%;
      height: auto;
    }
  }
  .header-title {
    width: 70vw;
    max-width: 300px;
    height: auto !important;
  }
  .header-image {
    margin: 40px 0;
  }
  .pages {
    margin: 40px 0;
  }
}

