@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, 3%, 0);
  }
  to {
    opacity: auto;
    transform: none;
  }
}
.accent {
  width: 100vw;
  position: absolute;
  z-index: -1;
  opacity: 0.1;
  overflow: hidden;
  min-width: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 0;
}
nav ul {
  font-weight: 600;
  display: flex;
  padding-right: 10px;
  list-style: none;
  font-size: 13px;
  padding-top: 10px;
  background-color: black;
  height: 5em;
  text-align: center;
}
nav ul .nav-spacer {
  flex: 5;
}
nav ul .nav-items {
  flex-direction: row;
  width: 60%;
  display: flex;
  align-items: center;
}
nav ul li {
  flex: 1 1 auto;
  margin-bottom: 12px;
}
nav ul li a {
  transition: color 0.2s;
  padding-bottom: 1px;
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  cursor: pointer;
}
nav ul li .is-active {
  color: #E62B1E;
  border-bottom: 2px solid #E62B1E;
}
nav ul img {
  height: 3em;
  margin-top: 3px;
  flex: 1;
}

#apply {
  background-color: #E62B1E;
  padding: 10px 20px;
  color: white;
}

#apply:hover {
  box-shadow: 0 0 5px #25455D;
}

main {
  z-index: -1;
}
main section {
  display: none;
}

body {
  font-family: "Helvetica", Avenir, Arial, sans-serif;
  min-height: 100vh;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

h1 {
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Avenir Next", Avenir, Arial, sans-serif;
}

h2 {
  font-family: "Avenir Next", Avenir, Arial, sans-serif;
  letter-spacing: 0.5px;
  font-weight: bold;
}

h4 {
  opacity: 0.3;
}

p {
  font-size: 1em;
}

a {
  transition: 0.2s;
  text-decoration: none;
  color: #E62B1E;
}

a:hover {
  cursor: pointer;
  color: #78C2FE;
}

#hero {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 0;
  text-align: center;
  flex-direction: column;
  top: 0;
  left: 0;
  color: white;
  z-index: 1;
}
#hero #back {
  animation-name: fadeIn;
  animation-duration: 1s;
  width: 100vw;
  height: 120vh;
  position: absolute;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  filter: blur(2px);
  overflow: hidden;
  opacity: 0.25;
  z-index: -1;
}
#hero h3 {
  opacity: 0.7;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Avenir Next", Avenir, Arial, sans-serif;
  margin-top: 20px;
  animation-name: fadeIn;
  transition-timing-function: ease-out;
  animation-duration: 2s;
}
#hero img:not(#back) {
  animation-name: fadeIn;
  animation-duration: 2s;
  transition-timing-function: ease-out;
  height: 80px;
}

footer {
  display: none;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 10vh;
  color: white;
  background-color: black;
}
footer a {
  color: white;
}
footer li {
  list-style: none;
}
footer .pages li {
  font-weight: bold;
}
footer .social li {
  margin-right: 20px;
  display: inline;
}
footer .social img {
  transition: 0.2s;
  height: 25px;
}
footer .social img:hover {
  opacity: 0.8;
}
footer .years li {
  display: inline;
}

#partners .header, #faq .header {
  padding-bottom: 10vh;
}

#about .header-image, #speakers .header-image, #home .header-image {
  box-shadow: 0 0 50px #b0bec5;
}

#team h2, #speakers h2 {
  padding-top: 50px;
  padding-bottom: 10px;
}
#team .name, #speakers .name {
  font-size: 14px;
  font-weight: bold;
}

#team img:not(.header-title) {
  position: relative;
  width: 180px;
}

#partners p {
  font-size: 20px;
}
#partners img:not(.header-title, .accent) {
  opacity: 0.8;
  filter: grayscale(100%);
  transition: 0.2s;
}
#partners img:not(.header-title, .accent):hover {
  opacity: 1;
  cursor: pointer;
  filter: grayscale(0%);
}
#partners hr {
  margin: 60px 0;
}

#speakers .title {
  font-size: 18px;
}
#speakers .four {
  text-align: right;
}
#speakers iframe {
  position: relative;
  width: 100%;
  height: 250px;
  box-shadow: 0 0 30px #b0bec5;
}

section {
  position: relative;
  overflow: hidden;
  padding-top: 25vh;
  padding-bottom: 15vh;
}
section h2 {
  font-size: 1.8em;
}
section .header-title {
  height: 50px;
}
section .header-image {
  position: relative;
  width: 100%;
}
section .header-banner {
  background-color: #eee;
  color: black;
  width: auto;
  padding: 20px 30px;
}
section .image {
  position: relative;
  width: 100%;
  box-shadow: 0 0 50px #b0bec5;
}

#mce-EMAIL {
  color: black;
  padding-top: 2px;
}

#mc-embedded-subscribe-form input {
  border-radius: 0;
}

#mc-embedded-subscribe {
  color: white;
  background-color: #E62B1E;
  border: none;
}

.slicknav_menu {
  display: none;
  background-color: black;
  margin-top: -50px;
  padding: 10px 0;
  text-align: center;
}
.slicknav_menu li {
  margin: 30px 0 !important;
}
.slicknav_menu li a {
  color: white;
  font-weight: bold;
}
.slicknav_menu li .is-active {
  color: #E62B1E;
  border-bottom: 2px solid #E62B1E;
}

#nav-icon {
  display: none;
  margin-right: 20px;
}

@media screen and (max-width: 700px) {
  .js #menu {
    display: none;
  }

  #nav-icon {
    display: block;
  }

  .js .slicknav_menu {
    display: block;
  }

  header img {
    height: 60px !important;
  }
  header h3 {
    font-size: 18px;
  }

  section {
    padding-top: 110px;
  }

  #partners img {
    max-width: 80%;
    height: auto;
  }

  .header-title {
    width: 70vw;
    max-width: 300px;
    height: auto !important;
  }

  .header-image {
    margin: 40px 0;
  }

  .pages {
    margin: 40px 0;
  }
}

/*# sourceMappingURL=main.css.map */
