.accent {
  width: 100vw;
  position: absolute;
  z-index: -1;
  opacity: 0.08;
  overflow: hidden;
  min-width: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

nav ul {
  z-index: 2;
  font-weight: 600;
  display: flex;
  padding-right: 10px;
  list-style: none;
  align-items: center;
  font-size: 13px;
  position: fixed;
  width: 100%;
  padding-top: 10px;
  background-color: black;
  height: 5em;
  text-align: center;
}
nav ul span {
  flex: 5;
}
nav ul li {
  flex: 1 1 auto;
  margin-bottom: 12px;
}
nav ul li a {
  transition: color 0.2s;
  padding-bottom: 1px;
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  cursor: pointer;
}
nav ul li .is-active {
  color: #E62B1E;
  border-bottom: 2px solid #E62B1E;
}
nav ul img {
  height: 3em;
  margin-top: 10px;
  flex: 1;
}

#apply {
  background-color: #E62B1E;
  padding: 10px 20px;
  color: white;
}

main {
  z-index: -1;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
main section {
  display: none;
}

body {
  font-family: "Helvetica", Avenir, Arial, sans-serif;
  min-height: 100vh;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Avenir Next", Avenir, Arial, sans-serif;
}

h2 {
  font-family: "Avenir Next", Avenir, Arial, sans-serif;
  letter-spacing: 0.5px;
  font-weight: bold;
}

p {
  font-size: 1em;
}

a {
  transition: 0.2s;
  text-decoration: none;
  color: #E62B1E;
}

a:hover {
  cursor: pointer;
  color: #78C2FE;
}

header {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 0;
  color: white;
  z-index: 1;
  opacity: 0;
}
header h3 {
  opacity: 0.7;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Avenir Next", Avenir, Arial, sans-serif;
  margin-top: 20px;
}
header img {
  height: 80px;
}

header.is-opened {
  opacity: 1;
  transition: opacity 0.3s;
  transition-delay: 0.5s;
  transition-timing-function: ease-out;
}

footer {
  display: none;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 10vh;
  color: white;
  background-color: black;
}
footer a {
  color: white;
}
footer li {
  list-style: none;
}
footer .pages li {
  font-weight: bold;
}
footer .social li {
  margin-right: 20px;
  display: inline;
}
footer .social img {
  transition: 0.2s;
  height: 25px;
}
footer .social img:hover {
  opacity: 0.8;
}
footer .years li {
  display: inline;
}

#partners .header, #faq .header {
  padding-bottom: 10vh;
}

#about .header-image, #speakers .header-image, #home .header-image {
  box-shadow: 0 0 50px #b0bec5;
}

#team h2, #speakers h2 {
  padding-top: 50px;
  padding-bottom: 10px;
}
#team .name, #speakers .name {
  font-size: 14px;
  font-weight: bold;
}

#team img:not(.header-title) {
  position: relative;
  width: 180px;
}

#partners p {
  font-size: 20px;
}
#partners img:not(.header-title, .accent) {
  opacity: 0.8;
  filter: grayscale(100%);
  transition: 0.2s;
}
#partners img:not(.header-title, .accent):hover {
  opacity: 1;
  cursor: pointer;
  filter: grayscale(0%);
}
#partners hr {
  margin: 60px 0;
}

#speakers .title {
  font-size: 18px;
}
#speakers .four {
  text-align: right;
}
#speakers iframe {
  position: relative;
  width: 100%;
  height: 250px;
  box-shadow: 0 0 30px #b0bec5;
}

section {
  position: relative;
  overflow: hidden;
  padding-top: 20vh;
  padding-bottom: 5vh;
}
section h2 {
  font-size: 1.8em;
}
section .header-title {
  height: 50px;
}
section .header-image {
  position: relative;
  width: 100%;
}
section .header-banner {
  background-color: #eee;
  color: black;
  width: auto;
  padding: 20px 30px;
}

.shape-overlays {
  position: relative;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  top: -20vh;
  left: 0;
}

.shape-overlays__path:nth-of-type(1) {
  fill: #DEF4FF;
}

.shape-overlays__path:nth-of-type(2) {
  fill: #70BDE6;
}

.shape-overlays__path:nth-of-type(3) {
  fill: #25455D;
}

.shape-overlays__path:nth-of-type(4) {
  fill: black;
}

@media screen and (max-width: 700px) {
  nav {
    display: none;
  }
  nav ul {
    height: 70px;
    display: block;
    text-align: left;
    margin-top: -5px;
  }
  nav ul a {
    margin-left: 30px;
  }

  header img {
    height: 50px;
  }
  header h3 {
    font-size: 18px;
  }

  section {
    padding-top: 80px;
  }

  .header-title {
    width: 70vw;
  }
}

/*# sourceMappingURL=main.css.map */
